<header>
    <div ng-include="'/partials/header.html'"></div>

    <div class="page-title">
        <h1 class="header-title">ABOUT US</h1>
    </div>
</header>

<div class="content">
    <div class="list">
        <p ng-repeat="line in about.intro.lines">
            {{line}}
            <br>
        </p>

        <h3>{{about.architecture.title}}</h3>
        <p ng-repeat="line in about.architecture.lines">
            {{line}}
            <br>
        </p>

        <h3>{{about.environmentalProduction.title}}</h3>
        <p ng-repeat="line in about.environmentalProduction.lines">
            {{line}}
            <br>
        </p>

        <h3>{{about.qualityPolicy.title}}</h3>
        <p>{{about.qualityPolicy.text}}</p>
        <ul>
            <li ng-repeat="line in about.qualityPolicy.lines">
                {{line}}
            </li>
        </ul>

        <h3>{{about.experience.title}}</h3>
        <p ng-repeat="line in about.experience.lines">
            {{line}}
            <br>
        </p>
    </div>
    <div class="latest-info">
        <div ng-include="'/partials/latest_info.html'"></div>
    </div>
</div>

<div ng-include="'/partials/footer.html'"></div>