<link rel="stylesheet" href="../styles/partials/header.component.scss">
<header>
    <div ng-include="'/partials/header.html'"></div>

    <div class="page-title">
        <h2 class="header-subtitle">SUPERVISION</h2>
        <h1 class="header-title">ARCHITECTURE</h1>
    </div>
</header>

<div class="content">
    <div class="list">
        <div class="list-item pink" ng-repeat="item in projects" ng-click="showProjectDescriptionPopup(item)"
             style="background: url({{item.imageLocation}}1.jpg) center center; background-size: cover;">
            <div class="list-item-description">

                <div class="list-item-description-info">
                    <h3 class="client">
                        Client: {{item.client}}
                    </h3>
                </div>

                <div class="list-item-footer" ng-click="showProjectDescriptionPopup(item)">
                    <button class="show-images">
                        SHOW MORE
                    </button>
                </div>
            </div>
            <div class="list-item-title">
                <h2 class="item-title">
                    {{item.name}}
                </h2>
            </div>
        </div>
    </div>
    <div class="latest-info">
        <div ng-include="'/partials/latest_info.html'"></div>
    </div>
</div>

<div ng-include="'/partials/footer.html'"></div>

<div id="pdp" class="project-description-popup">
    <div class="image-popup">
        <span class="popup-slider">
            <img ng-repeat="image in itemInfo.images" class="popup-image" ng-src="{{itemInfo.imageLocation}}{{image}}" alt="">
        </span>
    </div>
    <div class="description-popup">
        <button class="close-pdp" ng-click="hideProjectDescriptionPopup()">
            <img src="/images/icons/close.png" alt="">
        </button>

        <h2 class="item-title">
            {{itemInfo.name}}
        </h2>
        <h3 class="item-client">
            Client: {{itemInfo.client}}
        </h3>
        <p class="item-service">
            Service: {{itemInfo.service}}
        </p>

        <div class="project-meta">
            <div class="project-meta-item">
                <img class="project-meta-item-image" src="/images/icons/calendar.png" alt="">
                <div>{{itemInfo.year}}</div>
            </div>
            <div class="project-meta-item">
                <img class="project-meta-item-image" src="/images/icons/location.png" alt="">
                <div>{{itemInfo.location}}</div>
            </div>
            <div class="project-meta-item">
                <img class="project-meta-item-image" src="/images/icons/size.png" alt="">
                <div>{{itemInfo.area}}</div>
            </div>
        </div>

        <div class="project-team">
            <div class="team-member" ng-repeat="person in itemInfo.teamMembers">
                <img class="team-member-icon" src="/images/icons/user.png" alt="">
                <div>{{person}}</div>
            </div>
        </div>
    </div>
</div>