<header>
    <div ng-include="'/partials/header.html'"></div>

    <div class="page-title">
        <h1 class="header-title">CONTACT</h1>
    </div>
</header>

<div class="content">
    <div class="company-contact-info">
        <div class="location-map">
            <div id="map"></div>
        </div>
        <div class="contact-info">
            <div class="content-info">
                <h2>{{company.name}}</h2>
                <p>{{company.address}}</p>
                <p>{{company.country}}</p>
                <p>{{company.phone}}</p>
                <p>{{company.fax}}</p>
                <p>{{company.email}}</p>
            </div>
        </div>
    </div>

    <div class="contact-personnel">
        <div class="contact-person" ng-repeat="contact in contacts">
            <div class="content-info">
                <h2>{{contact.name}}</h2>
                <h4>{{contact.name}}</h4>

                <p>{{contact.phone}}</p>
                <p>{{contact.mobile}}</p>
                <p>{{contact.email}}</p>
            </div>
        </div>
    </div>
</div>

<div ng-include="'/partials/footer.html'"></div>