<header>
    <div ng-include="'/partials/header.html'"></div>

    <div class="page-title">
        <h2 class="header-subtitle">ENERGY</h2>
        <h1 class="header-title">EFFICIENCY</h1>
    </div>
</header>

<div class="content">
    <div class="list">
        <div class="list-item pink" ng-repeat="item in projects" ng-click="showProjectDescriptionPopup(item)"
             style="background: url({{item.imageLocation}}{{item.images[0]}}) center center; background-size: cover;">
            <div class="list-item-description">

                <div class="list-item-footer" ng-click="showProjectDescriptionPopup(item)">
                    <button class="show-images">
                        SHOW MORE
                    </button>
                </div>
            </div>
            <div class="list-item-title">
                <h2 class="item-title">
                    {{item.name}}
                </h2>
            </div>
        </div>
    </div>
    <div class="latest-info">
        <div ng-include="'/partials/latest_info.html'"></div>
    </div>
</div>

<div ng-include="'/partials/footer.html'"></div>

<div id="pdp" class="project-description-popup">
    <div class="image-popup">
        <span class="popup-slider">
            <img ng-repeat="image in itemInfo.images" class="popup-image" ng-src="{{itemInfo.imageLocation}}{{image}}" alt="">
        </span>
    </div>
    <div class="description-popup">
        <button class="close-pdp" ng-click="hideProjectDescriptionPopup()">
            <img src="/images/icons/close.png" alt="">
        </button>

        <h2 class="item-title">
            {{itemInfo.name}}
        </h2>
        <div class="list-item-description-info">
            <ul style="list-style: none">
                <li><strong>Status:</strong> {{itemInfo.status}}</li>
                <br>
                <li><strong>Area:</strong> {{itemInfo.area}}</li>
                <br>
                <li><strong>Estimated investment for energy efficiency measures (BAM with VAT):</strong> {{itemInfo.estimatedInvestment}}</li>
                <br>
                <li><strong>Estimated savings in energy costs after the implementation of schemes (BAM with VAT):</strong> {{itemInfo.estimatedSavings}}</li>
            </ul>

            <h4 style="padding-left: 15px">Energy Efficiency Measures</h4>
            <ul>
                <li class="team-members" ng-repeat="energyEfficiencyMeasure in itemInfo.energyEfficiencyMeasures">
                    {{energyEfficiencyMeasure}}
                </li>
            </ul>
        </div>
    </div>
</div>