<nav class="desktop-navigation" ng-controller="headerCtrl">
    <img ui-sref="main" class="logo-navigation" src="/images/coning_logo.png" alt="">

    <ul class="navigation">
        <li class="link hvr-underline-from-center" ui-sref="about" ui-sref-active="active">{{ 'NAVIGATION.ABOUT-US' | translate }}</li>
        <li class="link">
            {{ 'NAVIGATION.ARCHITECTURE' | translate }}
            <span class="link-drop">
                <img src="/images/icons/arrow.png" alt="">
            </span>
            <ul class="navigation-sub-menu">
                <li class="sub-link hvr-underline-from-center" ui-sref="architecture-design" ui-sref-active="active">{{ 'NAVIGATION.DESIGN' | translate }}</li>
                <li class="sub-link hvr-underline-from-center" ui-sref="architecture-supervision" ui-sref-active="active">{{ 'NAVIGATION.SUPERVISION' | translate }}</li>
            </ul>
        </li>
        <li class="link hvr-underline-from-center" ui-sref="energy-efficiency" ui-sref-active="active">{{ 'NAVIGATION.ENERGY-EFFICIENCY' | translate }}</li>
        <li class="link">
            {{ 'NAVIGATION.NOISE-BARRIERS' | translate }}
            <span class="link-drop">
                <img src="/images/icons/arrow.png" alt="">
            </span>
            <ul class="navigation-sub-menu">
                <li class="sub-link hvr-underline-from-center" ui-sref="noise-barriers-installation" ui-sref-active="active">{{ 'NAVIGATION.INSTALLATION' | translate }}</li>
                <li class="sub-link hvr-underline-from-center" ui-sref="noise-barriers-production" ui-sref-active="active">{{ 'NAVIGATION.PRODUCTION' | translate }}</li>
            </ul>
        </li>
        <li class="link hvr-underline-from-center" ui-sref="news-and-media" ui-sref-active="active">{{ 'NAVIGATION.NEWS-AND-MEDIA' | translate }}</li>
        <li class="link hvr-underline-from-center" ui-sref="contact" ui-sref-active="active">{{ 'NAVIGATION.CONTACT' | translate }}</li>
    </ul>

    <div class="search-and-lang">
        <input type="text" placeholder="Search" class="search">
        <span class="languages">
            <a href="" ng-click="changeLanguage('bs')">bs</a> | <a href="" ng-click="changeLanguage('en')">en</a>
        </span>
    </div>
</nav>

<div ng-controller="headerCtrl">
    <div class="mobile-navigation-menu" ng-click="showMenu()">
        <img src="/images/icons/menu.png" alt="">
    </div>

    <nav class="mobile-navigation" id="mobile-menu">
        <img ui-sref="main" class="logo-navigation" src="/images/coning_logo_white.png" alt="">

        <ul class="navigation">
            <li class="link hvr-underline-from-center" ui-sref="about" ui-sref-active="active" ng-click="showMenu()">ABOUT US</li>
            <li class="link">
                <ul class="navigation-sub-menu">
                    <li class="sub-link hvr-underline-from-center" ui-sref="architecture-design" ui-sref-active="active">DESIGN</li>
                    <li class="sub-link hvr-underline-from-center" ui-sref="architecture-supervision" ui-sref-active="active">SUPERVISION</li>
                </ul>
            </li>
            <li class="link hvr-underline-from-center" ui-sref="energy-efficiency" ui-sref-active="active" ng-click="showMenu()">ENERGY EFFICIENCY</li>
            <li class="link">
                <ul class="navigation-sub-menu">
                    <li class="sub-link hvr-underline-from-center" ui-sref="noise-barriers-installation" ui-sref-active="active">INSTALLATION</li>
                    <li class="sub-link hvr-underline-from-center" ui-sref="noise-barriers-production" ui-sref-active="active">PRODUCTION</li>
                </ul>
            </li>
            <li class="link hvr-underline-from-center" ui-sref="news-and-media" ui-sref-active="active" ng-click="showMenu()">NEWS & MEDIA</li>
            <li class="link hvr-underline-from-center" ui-sref="contact" ui-sref-active="active" ng-click="showMenu()">CONTACT</li>
        </ul>
    </nav>

</div>