<div ng-controller="newsAndMediaCtrl">
    <h4>LATEST NEWS</h4>
    <hr>
    <div class="latest-info-box" ng-repeat="info in news">
        <div class="latest-info-box-image" style="background: url({{info.imageLocation}}1.jpg) center center; background-size: cover;"></div>
        <div class="latest-info-title">
            <p>
                News about Coning deal
            </p>
        </div>
    </div>
</div>