<div class="presentation">
    <div class="slide">
        <img class="main-page-image" src="/images/main_page/3.jpg" alt="">
    </div>
    <div class="slide">
        <img class="main-page-image" src="/images/main_page/4.jpg" alt="">
    </div>
    <div class="slide">
        <img class="main-page-image" src="/images/main_page/5.jpg" alt="">
    </div>
    <div class="slide">
        <img class="main-page-image" src="/images/main_page/6.jpg" alt="">
    </div>
</div>
<div class="main" id="app">
    <div class="logo">
        <img class="logo-image" src="/images/coning_logo_e.png" alt="">
    </div>
    <div class="left">
        <div ui-sref="architecture-design" class="title-box l">
            <h1 class="title">ARCHITECTURE</h1>
        </div>
    </div>
    <div class="right">
        <div ui-sref="noise-barriers-installation" class="title-box r">
            <h1 class="title">NOISE BARRIERS</h1>
        </div>
    </div>
</div>

<div class="main-mobile">
    <div class="logo">
        <img class="logo-image" src="/images/coning_logo_white.png" alt="">
    </div>
    <div class="top">
        <div ui-sref="architecture-design" class="title-box">
            <h1 class="title">ARCHITECTURE</h1>
        </div>
    </div>
    <div class="down">
        <div ui-sref="noise-barriers-installation" class="title-box">
            <h1 class="title">NOISE BARRIERS</h1>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.presentation').slick({
            dots: false,
            infinite: true,
            speed: 2000,
            fade: true,
            cssEase: 'linear',
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: false
        });
    });
</script>