<header>
    <div ng-include="'/partials/header.html'"></div>

    <div class="page-title">
        <h1 class="header-title">NEWS AND MEDIA</h1>
    </div>
</header>

<div class="content">
    <div class="list">
        <div class="list-item pink" ng-repeat="article in news" style="background: url({{article.imageLocation}}1.jpg) center center; background-size: cover;">
            <div class="list-item-description">

                <div class="list-item-footer">
                    <button class="show-images">
                        SHOW MORE
                    </button>
                </div>
            </div>
            <div class="list-item-title">
                <h2 class="item-title">
                    {{article.name}}
                </h2>
            </div>
        </div>
    </div>
    <div class="latest-info">
        <div ng-include="'/partials/latest_info.html'"></div>
    </div>
</div>

<div ng-include="'/partials/footer.html'"></div>