<header style="background: url({{product.image}}) center center; background-size: cover;">
    <div ng-include="'/partials/header.html'"></div>

    <div class="page-title cover-header">
        <h1 class="header-title">{{product.name}}</h1>
    </div>
</header>

<div class="content">

    <div class="product-info">
        <div ng-repeat="txt in product.info">
            <h3 ng-if="txt.title">
                {{txt.title}}
            </h3>
            <p ng-if="txt.content">
                {{txt.content}}
            </p>
            <ul ng-if="txt.list">
                <li ng-repeat="item in txt.list">
                    {{item}}
                </li>
            </ul>
        </div>
    </div>

    <div class="product-additional-info">
        <h4>Downloadable</h4>
        <hr>
        <div class="product-files">
            <div class="file" ng-repeat="file in product.files">
                <a target="_blank" href="{{product.fileLocation}}{{file}}">{{file}}</a>
            </div>
        </div>
    </div>

</div>



<div ng-include="'/partials/footer.html'"></div>