<header>
    <div ng-include="'/partials/header.html'"></div>

    <div class="page-title">
        <h2 class="header-subtitle">PRODUCTION</h2>
        <h1 class="header-title">NOISE BARRIERS</h1>
    </div>
</header>

<div class="content">
    <div class="product-list">
        <div class="list-product teal"
             ng-repeat="product in products"
             ui-sref="noise-barriers-production-product({productId: product.id})"
             style="background: url({{product.image}}) center center; background-size: cover;">

            <div class="list-product-title">
                <h2 class="product-title">
                    {{product.name}}
                </h2>
            </div>
        </div>
    </div>
    <div class="latest-info">
        <div ng-include="'/partials/latest_info.html'"></div>
    </div>
</div>

<div ng-include="'/partials/footer.html'"></div>