$contact-height: 415px;

.company-contact-info {
  width: 50%;
  height: $contact-height;
  background: #616161;
  font-size: 13px;
  float: left;

  .contact-info {
    width: 30%;
    height: 100%;
    overflow: hidden;
    float: left;

    .content-info {
      padding: 15px;
      color: white;
    }
  }
  .location-map {
    width: 70%;
    height: 100%;
    overflow: hidden;
    float: left;

    #map {
      height: $contact-height;
      width: 100%;
    }
  }
}

.contact-personnel {
  width: 50%;
  font-size: 13px;
  float: left;

  .contact-person {
    width: 48%;
    float: left;
    background: #616161;
    margin: 0 0 1% 1%;

    .content-info {
      padding: 15px;
      color: white;
    }
  }
}

@media (max-width: 800px) {
  .company-contact-info {
    .contact-info {
      width: 100%;
    }
    .location-map {
      width: 100%;

      .content-info {
        padding: 0;
      }
    }
  }

  .contact-personnel {
    .contact-person {
      width: 100%;
      border-right: none;
    }
  }
}