footer {
  clear: both;
  position: relative;
  height: 4em;
  margin-top: 0;
  background: #03A9F4;

  .copy-right {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    color: white;
  }
}