@mixin gradient-background ($color-one, $color-two, $position-one, $position-two) {
  background: $color-one; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($position-one, $color-one, $color-two); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($position-two, $color-one, $color-two); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($position-two, $color-one, $color-two); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to $position-two, $color-one, $color-two); /* Standard syntax */
}

