header {
  width: 100%;
  height: 250px;
  background: #9c27b0; }
  header nav {
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=header.component.css.map */
