$main-text-color: #212121;
$spacing: 160px;
$header-primary: #9E9E9E;
$header-secondary: #616161;

header {
  width: 100%;
  height: $spacing;
  background: white;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);

  .desktop-navigation {
    width: 100%;
    height: 50px;
    display: flex;
    background: white;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    position: fixed;
    z-index: 100;
    align-items: center;
    justify-content: center;

    .logo-navigation {
      float: left;
      cursor: pointer;
      width: 150px;
      margin: 0 auto;
    }

    .navigation {
      list-style: none;
      height: 100%;
      margin: 0;
      color: gray;
      float: left;

      .link {
        position: relative;
        float: left;
        padding: 15px 10px 20px 10px;
        cursor: pointer;
        font-size: 13px;

        &:hover {
          .navigation-sub-menu {
            opacity: 1;
          }
        }

        .link-drop {
          position: absolute;
          bottom: 5px;
          width: 80%;
          height: 15px;
          text-align: center;

          img {
            height: 15px;
            width: 15px;
          }
        }
      }
      .active {
        color: black;
      }
    }

    .search-and-lang {
      float: right;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin: 0 auto;

      .search {
        width: 150px;
        height: 25px;
        border: none;
        border-bottom: solid 1px black;
        margin: 0 auto;

        &:focus {
          outline: none;
        }
      }

      .languages {
      }
    }

    .navigation-sub-menu {
      list-style: none;
      position: absolute;
      margin-left: -10px;
      margin-top: 20px;
      padding: 0;
      width: 100%;
      color: gray;
      transition: ease .3s;
      opacity: 0;

      .sub-link {
        width: 100%;
        height: 30px;
        line-height: 31px;
        text-align: center;
        cursor: pointer;
        background: white;
        transition: ease .3s;
        font-size: 10px;
      }
      .active {
        background: white;
        color: black;
      }
    }
  }

  .mobile-navigation {
    width: 100%;
    height: 100vh;
    background: #222222;
    position: fixed;
    z-index: 100;
    text-align: center;
    margin-left: -100%;
    transition: ease .4s;

    .logo-navigation {
      margin: 25px 0 25px 0;
      cursor: pointer;
      width: 150px;
    }

    .navigation {
      list-style: none;
      height: 100%;
      margin: 0;
      padding: 0;
      color: white;

      .link {
        position: relative;
        width: 100%;
        height: 50px;
        border-top: solid 1px white;
        text-align: center;
        cursor: pointer;
        line-height: 50px;
        vertical-align: middle;

        &:hover {
          .navigation-sub-menu {
            height: 100px;
          }
        }
      }
      .active {
      }
    }

    .navigation-sub-menu {
      height: 50px;
      width: 100%;
      overflow: hidden;
      list-style: none;
      margin: 0;
      padding: 0;
      color: white;

      .sub-link {
        width: 50%;
        float: left;
      }
      .active {
        background: white;
        color: $main-text-color;
      }
    }
  }
  .mobile-navigation-show {
    margin-left: 0;
  }

  .mobile-navigation-menu {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease .3s;

    img {
      width: 25px;
      height: 25px;
      transition: ease .3s;
    }

    &:hover {
      background: #222222;

      img {
        filter: invert(100%);
      }
    }

    &:focus {
      outline: none;
    }
  }

  @media (min-width: 800px) {
    .mobile-navigation {
      display: none;
    }
    .mobile-navigation-menu {
      display: none;
    }
  }

  .page-title {
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;

    .header-subtitle {
      font-weight: lighter;
      font-size: 15px;
    }
    .header-title {
      font-weight: lighter;
      font-size: 30px;
      margin: 0 auto;
    }
  }
  .cover-header {
    background: rgba(0,0,0,0.3);
  }
}

@media (max-width: 800px) {
  header {
    height: 200px;

    .desktop-navigation {
      display: none;
    }

    .page-title {
      .header-subtitle {
        margin: 0;
        font-size: 15px;
      }
      .header-title {
        font-size: 25px;
      }
    }
  }
}