.latest-info-box {
  width: 100%;
  height: 80px;
  margin: 15px 0 15px 0;
  color: black;
  cursor: pointer;
  transition: ease .3s;
  font-size: 12px;

  &:hover {
    background: rgba(0,0,0,0.5);
  }

  .latest-info-box-image {
    width: 30%;
    height: 100%;
    float: left;
  }
  .latest-info-title {
    width: 70%;
    height: 100%;
    float: left;

    p {
      padding-left: 10px;
      margin: 0;
    }
  }
}