/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1976D2;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: #000000;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #222222;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

//slick-slider

.slick-prev, .slick-next {
  position: absolute;
  z-index: 2000;
  height: 100%;
  width: 50px;
  background: rgba(255,255,255,0.5);
  border-radius: 0;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  top: 50%;
  margin: 0 24px;

  &:hover {
    background: rgba(255,255,255,0.7);
  }
  &:focus {
    background: rgba(255,255,255,0.7);
  }
}

.project-description-popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1060;
  top: 0;
  right: 0;
  background: black;
  display: none;
  font-size: 15px;

  .image-popup {
    width: 80%;
    height: 100%;
    overflow: hidden;
    float: left;

    .popup-slider {
      width: 100%;
      height: 100vh;
      max-height: 100vh;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: calc(100vh - 100px);
        width: auto;
        margin: 0 auto; /* it centers any block level element */
        margin-left: 500px;
        margin-right: 500px;
      }

    }
  }
  .description-popup {
    position: relative;
    width: 20%;
    height: 100%;
    background: white;
    float: left;
    overflow: hidden;

    .close-pdp {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: ease .3s;
      background: white;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none;

      &:hover {
        background: rgba(0,0,0,0.5);

        img {
          filter: invert(100%);
        }
      }

      img {
        transition: ease .3s;
        width: 25px;
        height: 25px;
      }
    }

    .item-title {
      font-weight: lighter;
      padding-top: 50px;
      padding-left: 15px;
    }
    .item-client {
      padding-left: 15px;
      font-weight: lighter;
    }
    .item-service {
      padding-left: 15px;
    }

    .project-meta {
      width: 100%;
      display: flex;
      margin: 15px 0 15px 0;

      .project-meta-item {
        text-align: center;
        float: left;
        width: 70px;
        margin: 10px;

        .project-meta-item-image {
          width: 25px;
          height: 25px;
        }
      }
    }

    .project-team {
      width: 100%;
      display: flex;
      margin: 15px 0 15px 0;

      .team-member {
        float: left;
        width: 70px;
        margin: 10px;
        text-align: center;

        .team-member-icon {
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .project-description-popup {
    .image-popup {
      width: 100%;
      height: 50%;

      .popup-slider {
        width: 100%;
        height: 50vh;
        max-height: 50vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: calc(50vh - 100px);
          width: auto;
          margin: 0 auto; /* it centers any block level element */
          margin-left: 500px;
          margin-right: 500px;
        }
      }
    }
    .description-popup {
      width: 100%;
      height: 50%;
    }
  }
}

.pdp-show {
  display: block;
}

// list style icon
ul {
  list-style: square inside url('/images/icons/list_logo.png');
}

// slider arrow fix

.slick-prev:before, .slick-next:before {
  font-family: FontAwesome !important;
  font-size: 35px;
  color: black;
}

.slick-prev:before {
  content: "\f0d9";
}

.slick-next:before {
  content: "\f0da";
}