.content {
  padding: 100px 400px; }
  .content .project-list .list-item {
    position: relative;
    overflow: hidden;
    width: 45%;
    height: 600px;
    float: left;
    margin: 2.5%; }
    .content .project-list .list-item:hover .list-item-description {
      opacity: 1; }
    .content .project-list .list-item .list-item-title {
      position: absolute;
      z-index: 2;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 15px;
      background: rgba(0, 0, 0, 0.5);
      color: white; }
      .content .project-list .list-item .list-item-title .item-title {
        text-align: left;
        margin: 0; }
    .content .project-list .list-item .list-item-description {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      background: #015054;
      /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #015054, #241735);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #015054, #241735);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #015054, #241735);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #015054, #241735);
      /* Standard syntax */
      opacity: 0;
      transition: ease .3s;
      color: white; }
      .content .project-list .list-item .list-item-description .list-item-description-info {
        width: 100%;
        padding: 25px; }
    .content .project-list .list-item .list-item-image {
      position: absolute;
      z-index: 1;
      height: 100%; }
    .content .project-list .list-item .list-item-footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .content .project-list .list-item .list-item-footer .show-images {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 160px;
        height: 50px;
        background: transparent;
        border: solid 2px white;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: ease .3s; }
        .content .project-list .list-item .list-item-footer .show-images:hover {
          color: black;
          background: white; }

/*# sourceMappingURL=lists.component.css.map */
