@import "functions.mixin";
$giant-shadow: 0 5px 10px rgba(0,0,0,0.3);


.content {
  padding: 50px 200px;
  height: 100%;

  .list {
    width: 80%;
    box-sizing: border-box;
    float: left;
    padding: 0 15px 50px 15px;

    .intro-project {
      width: 100%;
      height: 250px;

      .first-project-slider, .second-project-slider {
        width: 48%;
        float: left;
        background: black;
        margin: 1%;

        img {
          height: 250px;
          width: auto;
          margin: 0 auto; /* it centers any block level element */
          margin-left: 500px;
          margin-right: 500px;
        }
      }
    }

    .list-item {
      position: relative;
      overflow: hidden;
      width: 31.33%;
      height: 160px;
      float: left;
      margin: 1%;
      transition: ease-in 0.3s;
      cursor: pointer;
      background: #222222;

      &:hover {
        box-shadow: $giant-shadow;

        .list-item-title {
          //min-width: 100%;
          bottom: 0;
        }

        .list-item-title-2 {
          box-shadow: $giant-shadow;
        }
      }

      .list-item-title-2 {
        position: absolute;
        //height: 20px;
        bottom: -28px;
        background: white;
        color: black;
        width: 99.5%;
        transition: ease 0.3s;
        border: solid 1px gainsboro;

        .item-title {
          text-align: left;
          font-size: 16px;
          font-weight: lighter;
          margin: 1%;
        }
      }

      .list-item-title {
        position: absolute;
        z-index: 4;
        left: 0;
        bottom: -50px;
        min-width: 100%;
        padding: 5px;
        background: white;
        color: black;
        transition: ease 0.3s;

        .item-title {
          text-align: left;
          font-size: 16px;
          margin: 0 !important;
          padding: 0 !important;
          font-weight: lighter;
        }
      }

      .list-item-description {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        //@include gradient-background(#009688, #241735, left top, bottom right);
        background: rgba(65, 65, 65, 0.77);
        opacity: 0;
        display: none;
        transition: ease .3s;
        color: white;

        .client {
          padding-top: 10px;
          font-size: 12px;
          font-weight: lighter;
          text-align: center;
        }
      }
      .list-item-image {
        position: absolute;
        z-index: 1;
        height: 100%;
      }

      .list-item-footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .show-images {
          margin: 0 auto;
          position: absolute;
          bottom: 70px;
          width: 120px;
          height: 30px;
          font-size: 12px;
          background: transparent;
          border: solid 1px white;
          color: white;
          cursor: pointer;
          transition: ease .3s;

          &:hover {
            color: black;
            background: white;
          }
        }
      }
    }
  }

  .product-list {
    width: 80%;
    float: left;

    .list-product {
      width: 31%;
      height: 100px;
      margin: 1%;
      position: relative;
      overflow: hidden;
      transition: ease 0.3s;
      cursor: pointer;
      float: left;

      &:hover {
        box-shadow: $giant-shadow;
        transform: scale(1.05);
      }

      .list-product-title {
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 15px;
        background: rgba(0,0,0,0.5);
        color: white;

        .item-title {
          text-align: left;
          font-weight: lighter;
          margin: 0;
        }
      }
    }
  }

  .latest-info {
    width: 20%;
    float: left;
  }
}

@media (max-width: 800px) {
  .content {
    padding: 15px;

    .list {
      width: 100%;

      .list-item {
        width: 100%;
        height: 160px;

        .list-item-description {
          display: none;
        }
      }
    }

    .latest-info {
      display: none;
    }

    .product-list {
      width: 100%;

      .list-product {
        width: 100%;
        margin: 1% 0;
      }
    }

  }
}