.logo {

    .logo-image {
        position: absolute;
        left: 48%;
        top: 48.4%;
        width: 80px;
    }
}

@media (max-width: 800px) {
    .logo {
        .logo-image {
            left: 25%;
            width: 150px;
        }
    }
}
