.product-info {
  width: 70%;
  float: left;
}
.product-additional-info {
  width: 20%;
  margin-left: 50px;
  float: left;

  .product-files {
    width: 300px;
    background: #222222;
    border: solid 2px #222222;

    .file {
      width: 100%;
      height: 50px;
      text-align: left;
      line-height: 50px;
      vertical-align: middle;
      transition: ease .3s;

      &:hover {
        background: white;

        a {
          color: #222222;
        }
      }

      a {
        padding: 15px;
        color: white;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 800px) {
  .product-info {
    width: 100%;
  }
  .product-additional-info {
    width: 100%;
    margin-left: 0;
  }
}