@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  font-weight: lighter !important;
  background: #f1f1f1;
}

@import "partials/palette.component";

@import "partials/leafs.trump";
@import "partials/default.component";
@import "partials/logo.component";

@import "partials/header.component";
@import "partials/footer.component";

@import "partials/lists.component";
@import "partials/contact.component";
@import "partials/product.component";
@import "partials/latest_info.component";

.presentation {
  width: 100%;
  height: 100vh;

  div {
    @extend .full-size;
    overflow: hidden;

    .main-page-image {
      margin: -200px 0;
      width: 100%;
    }
  }
}

.main {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  @extend .full-size;
  background-color: rgba(0,0,0,0.3);

  .title-box {
    padding: 0 50px;
    transition: ease .6s;
    cursor: pointer;

    .title {
      color: white;
      font-size: 1.5em;
      letter-spacing: 10px;
      transition: ease .4s;
    }
  }

  .l {
    margin-left: 450px;
    &:hover {
      transform: perspective(900px) rotateY(25deg);

      .title {
        transform: scale(1.2);
        color: black;
      }
    }
  }
  .r {
    margin-right: 450px;
    &:hover {
      transform: perspective(900px) rotateY(-25deg);

      .title {
        transform: scale(1.2);
        color: black;
      }
    }
  }

  .left {
    @extend .flex-it;
    width: 50%;
  }
  .right {
    @extend .flex-it;
    width: 50%;
  }
}

.main-mobile {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);

  .title-box {
    transition: ease .6s;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;

    .title {
      color: white;
      font-size: 1em;
      letter-spacing: 5px;
      transition: ease .4s;
      margin: 0 auto;
      display: inline-block;
      vertical-align: middle;
      line-height: 300px;
    }
  }

  .top {
    height: 50%;
  }
  .down {
    height: 50%;
  }
}

@media (max-width: 800px) {
  .presentation {
    div {
      .main-page-image {
        margin: 0;
        width: auto;
        height: 100%;
      }
    }
  }

  .main {
    display: none;
  }
}
@media (min-width: 800px) {
  .main-mobile {
    display: none;
  }
}
