@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  font-weight: lighter !important;
  background: #f1f1f1; }

.pink {
  background: #9c27b0; }

.blue {
  background: #357ebd; }

.teal {
  background: #009688; }

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1976D2;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: #000000; }

.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1); }

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #222222;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

.slick-prev, .slick-next {
  position: absolute;
  z-index: 2000;
  height: 100%;
  width: 50px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  top: 50%;
  margin: 0 24px; }
  .slick-prev:hover, .slick-next:hover {
    background: rgba(255, 255, 255, 0.7); }
  .slick-prev:focus, .slick-next:focus {
    background: rgba(255, 255, 255, 0.7); }

.project-description-popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1060;
  top: 0;
  right: 0;
  background: black;
  display: none;
  font-size: 15px; }
  .project-description-popup .image-popup {
    width: 80%;
    height: 100%;
    overflow: hidden;
    float: left; }
    .project-description-popup .image-popup .popup-slider {
      width: 100%;
      height: 100vh;
      max-height: 100vh;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center; }
      .project-description-popup .image-popup .popup-slider img {
        height: calc(100vh - 100px);
        width: auto;
        margin: 0 auto;
        /* it centers any block level element */
        margin-left: 500px;
        margin-right: 500px; }
  .project-description-popup .description-popup {
    position: relative;
    width: 20%;
    height: 100%;
    background: white;
    float: left;
    overflow: hidden; }
    .project-description-popup .description-popup .close-pdp {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: ease .3s;
      background: white;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      outline: none; }
      .project-description-popup .description-popup .close-pdp:hover {
        background: rgba(0, 0, 0, 0.5); }
        .project-description-popup .description-popup .close-pdp:hover img {
          filter: invert(100%); }
      .project-description-popup .description-popup .close-pdp img {
        transition: ease .3s;
        width: 25px;
        height: 25px; }
    .project-description-popup .description-popup .item-title {
      font-weight: lighter;
      padding-top: 50px;
      padding-left: 15px; }
    .project-description-popup .description-popup .item-client {
      padding-left: 15px;
      font-weight: lighter; }
    .project-description-popup .description-popup .item-service {
      padding-left: 15px; }
    .project-description-popup .description-popup .project-meta {
      width: 100%;
      display: flex;
      margin: 15px 0 15px 0; }
      .project-description-popup .description-popup .project-meta .project-meta-item {
        text-align: center;
        float: left;
        width: 70px;
        margin: 10px; }
        .project-description-popup .description-popup .project-meta .project-meta-item .project-meta-item-image {
          width: 25px;
          height: 25px; }
    .project-description-popup .description-popup .project-team {
      width: 100%;
      display: flex;
      margin: 15px 0 15px 0; }
      .project-description-popup .description-popup .project-team .team-member {
        float: left;
        width: 70px;
        margin: 10px;
        text-align: center; }
        .project-description-popup .description-popup .project-team .team-member .team-member-icon {
          width: 25px;
          height: 25px;
          border-radius: 50%; }

@media (max-width: 800px) {
  .project-description-popup .image-popup {
    width: 100%;
    height: 50%; }
    .project-description-popup .image-popup .popup-slider {
      width: 100%;
      height: 50vh;
      max-height: 50vh;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center; }
      .project-description-popup .image-popup .popup-slider img {
        height: calc(50vh - 100px);
        width: auto;
        margin: 0 auto;
        /* it centers any block level element */
        margin-left: 500px;
        margin-right: 500px; }
  .project-description-popup .description-popup {
    width: 100%;
    height: 50%; } }
.pdp-show {
  display: block; }

ul {
  list-style: square inside url("/images/icons/list_logo.png"); }

.slick-prev:before, .slick-next:before {
  font-family: FontAwesome !important;
  font-size: 35px;
  color: black; }

.slick-prev:before {
  content: "\f0d9"; }

.slick-next:before {
  content: "\f0da"; }

.full-size, .presentation div, .main {
  width: 100%;
  height: 100%; }

.flex-it, .main .left, .main .right {
  display: flex;
  align-items: center;
  justify-content: center; }

.logo .logo-image {
  position: absolute;
  left: 48%;
  top: 48.4%;
  width: 80px; }

@media (max-width: 800px) {
  .logo .logo-image {
    left: 25%;
    width: 150px; } }
header {
  width: 100%;
  height: 160px;
  background: white;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
  header .desktop-navigation {
    width: 100%;
    height: 50px;
    display: flex;
    background: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 100;
    align-items: center;
    justify-content: center; }
    header .desktop-navigation .logo-navigation {
      float: left;
      cursor: pointer;
      width: 150px;
      margin: 0 auto; }
    header .desktop-navigation .navigation {
      list-style: none;
      height: 100%;
      margin: 0;
      color: gray;
      float: left; }
      header .desktop-navigation .navigation .link {
        position: relative;
        float: left;
        padding: 15px 10px 20px 10px;
        cursor: pointer;
        font-size: 13px; }
        header .desktop-navigation .navigation .link:hover .navigation-sub-menu {
          opacity: 1; }
        header .desktop-navigation .navigation .link .link-drop {
          position: absolute;
          bottom: 5px;
          width: 80%;
          height: 15px;
          text-align: center; }
          header .desktop-navigation .navigation .link .link-drop img {
            height: 15px;
            width: 15px; }
      header .desktop-navigation .navigation .active {
        color: black; }
    header .desktop-navigation .search-and-lang {
      float: right;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      margin: 0 auto; }
      header .desktop-navigation .search-and-lang .search {
        width: 150px;
        height: 25px;
        border: none;
        border-bottom: solid 1px black;
        margin: 0 auto; }
        header .desktop-navigation .search-and-lang .search:focus {
          outline: none; }
    header .desktop-navigation .navigation-sub-menu {
      list-style: none;
      position: absolute;
      margin-left: -10px;
      margin-top: 20px;
      padding: 0;
      width: 100%;
      color: gray;
      transition: ease .3s;
      opacity: 0; }
      header .desktop-navigation .navigation-sub-menu .sub-link {
        width: 100%;
        height: 30px;
        line-height: 31px;
        text-align: center;
        cursor: pointer;
        background: white;
        transition: ease .3s;
        font-size: 10px; }
      header .desktop-navigation .navigation-sub-menu .active {
        background: white;
        color: black; }
  header .mobile-navigation {
    width: 100%;
    height: 100vh;
    background: #222222;
    position: fixed;
    z-index: 100;
    text-align: center;
    margin-left: -100%;
    transition: ease .4s; }
    header .mobile-navigation .logo-navigation {
      margin: 25px 0 25px 0;
      cursor: pointer;
      width: 150px; }
    header .mobile-navigation .navigation {
      list-style: none;
      height: 100%;
      margin: 0;
      padding: 0;
      color: white; }
      header .mobile-navigation .navigation .link {
        position: relative;
        width: 100%;
        height: 50px;
        border-top: solid 1px white;
        text-align: center;
        cursor: pointer;
        line-height: 50px;
        vertical-align: middle; }
        header .mobile-navigation .navigation .link:hover .navigation-sub-menu {
          height: 100px; }
    header .mobile-navigation .navigation-sub-menu {
      height: 50px;
      width: 100%;
      overflow: hidden;
      list-style: none;
      margin: 0;
      padding: 0;
      color: white; }
      header .mobile-navigation .navigation-sub-menu .sub-link {
        width: 50%;
        float: left; }
      header .mobile-navigation .navigation-sub-menu .active {
        background: white;
        color: #212121; }
  header .mobile-navigation-show {
    margin-left: 0; }
  header .mobile-navigation-menu {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease .3s; }
    header .mobile-navigation-menu img {
      width: 25px;
      height: 25px;
      transition: ease .3s; }
    header .mobile-navigation-menu:hover {
      background: #222222; }
      header .mobile-navigation-menu:hover img {
        filter: invert(100%); }
    header .mobile-navigation-menu:focus {
      outline: none; }
  @media (min-width: 800px) {
    header .mobile-navigation {
      display: none; }
    header .mobile-navigation-menu {
      display: none; } }
  header .page-title {
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black; }
    header .page-title .header-subtitle {
      font-weight: lighter;
      font-size: 15px; }
    header .page-title .header-title {
      font-weight: lighter;
      font-size: 30px;
      margin: 0 auto; }
  header .cover-header {
    background: rgba(0, 0, 0, 0.3); }

@media (max-width: 800px) {
  header {
    height: 200px; }
    header .desktop-navigation {
      display: none; }
    header .page-title .header-subtitle {
      margin: 0;
      font-size: 15px; }
    header .page-title .header-title {
      font-size: 25px; } }
footer {
  clear: both;
  position: relative;
  height: 4em;
  margin-top: 0;
  background: #03A9F4; }
  footer .copy-right {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    color: white; }

.content {
  padding: 50px 200px;
  height: 100%; }
  .content .list {
    width: 80%;
    box-sizing: border-box;
    float: left;
    padding: 0 15px 50px 15px; }
    .content .list .intro-project {
      width: 100%;
      height: 250px; }
      .content .list .intro-project .first-project-slider, .content .list .intro-project .second-project-slider {
        width: 48%;
        float: left;
        background: black;
        margin: 1%; }
        .content .list .intro-project .first-project-slider img, .content .list .intro-project .second-project-slider img {
          height: 250px;
          width: auto;
          margin: 0 auto;
          /* it centers any block level element */
          margin-left: 500px;
          margin-right: 500px; }
    .content .list .list-item {
      position: relative;
      overflow: hidden;
      width: 31.33%;
      height: 160px;
      float: left;
      margin: 1%;
      transition: ease-in 0.3s;
      cursor: pointer;
      background: #222222; }
      .content .list .list-item:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }
        .content .list .list-item:hover .list-item-title {
          bottom: 0; }
        .content .list .list-item:hover .list-item-title-2 {
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }
      .content .list .list-item .list-item-title-2 {
        position: absolute;
        bottom: -28px;
        background: white;
        color: black;
        width: 99.5%;
        transition: ease 0.3s;
        border: solid 1px gainsboro; }
        .content .list .list-item .list-item-title-2 .item-title {
          text-align: left;
          font-size: 16px;
          font-weight: lighter;
          margin: 1%; }
      .content .list .list-item .list-item-title {
        position: absolute;
        z-index: 4;
        left: 0;
        bottom: -50px;
        min-width: 100%;
        padding: 5px;
        background: white;
        color: black;
        transition: ease 0.3s; }
        .content .list .list-item .list-item-title .item-title {
          text-align: left;
          font-size: 16px;
          margin: 0 !important;
          padding: 0 !important;
          font-weight: lighter; }
      .content .list .list-item .list-item-description {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        background: rgba(65, 65, 65, 0.77);
        opacity: 0;
        display: none;
        transition: ease .3s;
        color: white; }
        .content .list .list-item .list-item-description .client {
          padding-top: 10px;
          font-size: 12px;
          font-weight: lighter;
          text-align: center; }
      .content .list .list-item .list-item-image {
        position: absolute;
        z-index: 1;
        height: 100%; }
      .content .list .list-item .list-item-footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .content .list .list-item .list-item-footer .show-images {
          margin: 0 auto;
          position: absolute;
          bottom: 70px;
          width: 120px;
          height: 30px;
          font-size: 12px;
          background: transparent;
          border: solid 1px white;
          color: white;
          cursor: pointer;
          transition: ease .3s; }
          .content .list .list-item .list-item-footer .show-images:hover {
            color: black;
            background: white; }
  .content .product-list {
    width: 80%;
    float: left; }
    .content .product-list .list-product {
      width: 31%;
      height: 100px;
      margin: 1%;
      position: relative;
      overflow: hidden;
      transition: ease 0.3s;
      cursor: pointer;
      float: left; }
      .content .product-list .list-product:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        transform: scale(1.05); }
      .content .product-list .list-product .list-product-title {
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 15px;
        background: rgba(0, 0, 0, 0.5);
        color: white; }
        .content .product-list .list-product .list-product-title .item-title {
          text-align: left;
          font-weight: lighter;
          margin: 0; }
  .content .latest-info {
    width: 20%;
    float: left; }

@media (max-width: 800px) {
  .content {
    padding: 15px; }
    .content .list {
      width: 100%; }
      .content .list .list-item {
        width: 100%;
        height: 160px; }
        .content .list .list-item .list-item-description {
          display: none; }
    .content .latest-info {
      display: none; }
    .content .product-list {
      width: 100%; }
      .content .product-list .list-product {
        width: 100%;
        margin: 1% 0; } }
.company-contact-info {
  width: 50%;
  height: 415px;
  background: #616161;
  font-size: 13px;
  float: left; }
  .company-contact-info .contact-info {
    width: 30%;
    height: 100%;
    overflow: hidden;
    float: left; }
    .company-contact-info .contact-info .content-info {
      padding: 15px;
      color: white; }
  .company-contact-info .location-map {
    width: 70%;
    height: 100%;
    overflow: hidden;
    float: left; }
    .company-contact-info .location-map #map {
      height: 415px;
      width: 100%; }

.contact-personnel {
  width: 50%;
  font-size: 13px;
  float: left; }
  .contact-personnel .contact-person {
    width: 48%;
    float: left;
    background: #616161;
    margin: 0 0 1% 1%; }
    .contact-personnel .contact-person .content-info {
      padding: 15px;
      color: white; }

@media (max-width: 800px) {
  .company-contact-info .contact-info {
    width: 100%; }
  .company-contact-info .location-map {
    width: 100%; }
    .company-contact-info .location-map .content-info {
      padding: 0; }

  .contact-personnel .contact-person {
    width: 100%;
    border-right: none; } }
.product-info {
  width: 70%;
  float: left; }

.product-additional-info {
  width: 20%;
  margin-left: 50px;
  float: left; }
  .product-additional-info .product-files {
    width: 300px;
    background: #222222;
    border: solid 2px #222222; }
    .product-additional-info .product-files .file {
      width: 100%;
      height: 50px;
      text-align: left;
      line-height: 50px;
      vertical-align: middle;
      transition: ease .3s; }
      .product-additional-info .product-files .file:hover {
        background: white; }
        .product-additional-info .product-files .file:hover a {
          color: #222222; }
      .product-additional-info .product-files .file a {
        padding: 15px;
        color: white;
        text-decoration: none; }

@media (max-width: 800px) {
  .product-info {
    width: 100%; }

  .product-additional-info {
    width: 100%;
    margin-left: 0; } }
.latest-info-box {
  width: 100%;
  height: 80px;
  margin: 15px 0 15px 0;
  color: black;
  cursor: pointer;
  transition: ease .3s;
  font-size: 12px; }
  .latest-info-box:hover {
    background: rgba(0, 0, 0, 0.5); }
  .latest-info-box .latest-info-box-image {
    width: 30%;
    height: 100%;
    float: left; }
  .latest-info-box .latest-info-title {
    width: 70%;
    height: 100%;
    float: left; }
    .latest-info-box .latest-info-title p {
      padding-left: 10px;
      margin: 0; }

.presentation {
  width: 100%;
  height: 100vh; }
  .presentation div {
    overflow: hidden; }
    .presentation div .main-page-image {
      margin: -200px 0;
      width: 100%; }

.main {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3); }
  .main .title-box {
    padding: 0 50px;
    transition: ease .6s;
    cursor: pointer; }
    .main .title-box .title {
      color: white;
      font-size: 1.5em;
      letter-spacing: 10px;
      transition: ease .4s; }
  .main .l {
    margin-left: 450px; }
    .main .l:hover {
      transform: perspective(900px) rotateY(25deg); }
      .main .l:hover .title {
        transform: scale(1.2);
        color: black; }
  .main .r {
    margin-right: 450px; }
    .main .r:hover {
      transform: perspective(900px) rotateY(-25deg); }
      .main .r:hover .title {
        transform: scale(1.2);
        color: black; }
  .main .left {
    width: 50%; }
  .main .right {
    width: 50%; }

.main-mobile {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3); }
  .main-mobile .title-box {
    transition: ease .6s;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center; }
    .main-mobile .title-box .title {
      color: white;
      font-size: 1em;
      letter-spacing: 5px;
      transition: ease .4s;
      margin: 0 auto;
      display: inline-block;
      vertical-align: middle;
      line-height: 300px; }
  .main-mobile .top {
    height: 50%; }
  .main-mobile .down {
    height: 50%; }

@media (max-width: 800px) {
  .presentation div .main-page-image {
    margin: 0;
    width: auto;
    height: 100%; }

  .main {
    display: none; } }
@media (min-width: 800px) {
  .main-mobile {
    display: none; } }

/*# sourceMappingURL=main.css.map */
